__pycache__/
.idea/
datasets
easy_run_1
old
*.pyc
*.pyo
RLAptamer/
sequenceModel2
distanceTests.py
sh/
*.txt
!requirements.txt
*.out
wandb/
logs/
*.dat
config/experiment/
storage/
previous_code/
config/*.yaml
playground/*.py
alex_runs/
outputs/